TravixTest/TravixTest.Infrastructure/bin/
TravixTest/TravixTest.DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TravixTest/TravixTest.DAL/obj/
TravixTest/TravixTest.DAL/bin/
TravixTest/TravixTest.Domain/obj/
TravixTest/TravixTest.Domain/bin/
TravixTest/TravixTest.WebService/obj/
TravixTest/TravixTest.WebService/bin/
TravixTest/TravixTest.Infrastructure/obj/Debug/
